<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.HapViewerAndroid.Material3"
        tools:ignore="MissingApplicationIcon"
        tools:replace="android:theme" />

</manifest>